#our {
  .our {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 55px;

    &--image {
      position: absolute;
      left: 100px;
      top: 1920px;
    }

   &--btn {
     width: 410px;
     height: 80px;
     flex-shrink: 0;
     background: #50A41C;
     color: #FFF;
     font-family: Inter;
     font-size: 36px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     border: none;
   }
    p {
      color: #000;
      font-family: Montserrat;
      font-size: 33px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-top: 85px;
    }
    &--line {
      width: 1280px;
      height: 4px;
      flex-shrink: 0;
      //stroke-width: 4px;
      background: #006400;
      margin: 20px 0 71px 0;
    }

    h1 {
      color: #000;
      font-family: Playfair Display;
      font-size: 54px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    &--slider {
      padding-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow-x: scroll;
      width: 100%;
      &::-webkit-scrollbar {
        display: none;
      }
      &__block {
        &--images {
          width: 414px;
          height: 348px;
          margin: 0 10px;
        }
      }
    }
  }
}