#agro {
background: url('../../../images/akbuura.png') no-repeat center/cover;
  height: 100vh;
  .agro {
    padding-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &--images {
      margin-bottom: 20px;
    }
    &--image {
      position: absolute;
      left: 180px;
    }
    &--img {

    }

    h1 {
      width: 845px;
      color: #FFF;
      text-align: center;
      font-family: Playfair Display;
      font-size: 40px;
      font-weight: 600;
      text-transform: uppercase;
    }
    p {
      padding-top: 15px;
      width: 780px;
      color: #FFF;
      text-align: center;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 29px;
    }
    &--btn {
      margin-top: 50px;
      width: 425px;
      height: 82px;
      flex-shrink: 0;
      background: #50A41C;
      color: #FFF;
      font-family: Inter;
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border: none;
    }
  }
}





















