#sale {
  .sale {
    &--inp {
      // display: flex;
      // justify-content: space-around;
      input {
        width: 496px;
        height: 74px;
        border-radius: 20px;
        background: rgba(127, 255, 0, 0.45);
        color: #816e6e;
        font-family: Inter;
        font-size: 24px;
        font-weight: 400;
        border: none;
        padding-left: 15px;
        outline-color: #006400;
      }
      button {
        width: 165px;
        height: 74px;
        flex-shrink: 0;
        border-radius: 20px;
        background: #3d8d3d;
        color: #fff;
        font-family: Inter;
        font-size: 24px;
        font-weight: 400;
        margin-left: 20px;
        border: none;
      }

      a {
        color: #4dd4ff;
        font-family: Inter;
        font-size: 29px;
        font-weight: 500;
        text-decoration-line: underline;
        display: flex;
        justify-content: end;
        margin-top: -35px;
      }
    }
    &--krug {
      display: flex;

      margin: 40px 0;
      button {
        width: 157px;
        height: 60px;
        border-radius: 12px;
        background: #c5ff8c;
        border: none;
        color: #006400;
        font-family: Playfair Display;
        font-size: 30px;
        font-weight: 500;
      }
      .one {
        width: 195px;
        height: 60px;
        border-radius: 12px;
        background: #c5ff8c;
        border: none;
        color: #006400;
        font-family: Playfair Display;
        font-size: 30px;
        font-weight: 500;
        margin: 0 20px;
      }
    }
    &--blocks {
      &__big {
        width: 290px;
        height: 340px;
        border-radius: 15px;
        background: #eeffde;

        img {
          margin: 20px;
        }
        &--mini {
          display: flex;
          align-items: center;
          justify-content: space-around;
          margin-top: -10px;
          span {
            color: #000;
            font-family: Inter;
            font-size: 14px;
            font-weight: 500;
            margin: 14px 0 0 9px;
          }

          &__text {
            h2 {
              color: #000;
              font-family: Inter;
              font-size: 14px;
              font-weight: 500;
            }
            h3 {
              color: #f00;
              font-family: Inter;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
        &--btn {
          button {
            width: 105px;
            height: 37px;
            border-radius: 8px;
            background: #7fff00;
            border: none;
            color: #fff;
            font-family: Inter;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
