#hero {
  .blur{
    background: rgba(0, 0, 0, 0.371);
    height: 100%;
  }
  padding-top: 110px;
  background: url("../../../images/bghero.png") center/cover;
  height: 650px;
  .hero {
    padding: 250px;
    p{
      color: rgba(255, 255, 255, 0.793);
    }
    &__info{
      display: flex;
      align-items: center;
      h1 {
        color: #fff;
        font-family: Playfair Display;
        font-size: 100px;
        font-weight: 500;
        b {
          color: #50a41c;
          font-family: Playfair Display;
          font-size: 100px;
          font-weight: 500;
        }
      }
    }
  }
}
