#team {
  .team {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    flex-direction: column;

    &--agro {
      display: flex;
      &__line {
        display: inline-flex;
        padding: 10px 10px 10px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-left: 5px solid #50a41c;
      }
      h2 {
        color: #228b22;
        font-family: Montserrat;
        font-size: 35px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        span {
          color: #003d2d;
          font-family: Montserrat;
          font-size: 35px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }

    &--little {
      h1 {
        padding: 70px 0 30px 0;
        color: #228b22;
        font-family: Montserrat;
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: 55px;
      }
      p {
        width: 1280px;
        color: #63a269;
        font-family: Montserrat;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    &--lines {
      width: 1280px;
      height: 4px;
      flex-shrink: 0;
      stroke-width: 4px;
      background: #006400;
      margin: 80px 0 0 0;
    }
  }
}
