#our {
  .our {
    display: flex;

    justify-content: center;
    flex-direction: column;
    padding-top: 55px;


    h1 {
      text-align: start;
      color: #228B22;
      font-family: Montserrat;
      font-size: 50px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    &--slider {
      padding-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      margin: 0 -11% 0 0;
      &__block {

        &--images {
          width: 414px;
          height: 348px;
          margin: 0 10px;
          border-radius: 10px;
        }
      }
    }
  }
}